.button__wrapper {

	&-btn {
		padding: 1rem;
		border: none;
		color: $color-white;
		text-transform: uppercase;
		background-color: transparent;       	
		display: block;
		transition: all .3s;
		z-index: 100;
		text-align: center;
		text-decoration: none;

		&:hover {
			opacity: 0.8;
			transform: scale(1.1);
			text-decoration: none;
			color: $color-white;

			& .button__wrapper-line {
				width: 7rem;
			}
		}
	}

	&-line {
		width: 11rem;
		border-radius: 2px;
		height: .4rem;
		background: linear-gradient(270deg, #ea5455, #f8d800, #28c76f, #0396ff);
		background-size: 800% 800%;
		animation: colorChange 30s linear infinite;
		display: block;
    											        
	}
}


.btn__box {
	font-weight: bolder;
	display: block;
	position: relative;
	background: transparent;
	border: 1px solid $color-white;
	border-radius: 5px;
	height: 5rem;
	width: 90%;
    margin: 0 auto;
	text-align: center;
	text-decoration: none;
	color: $color-white;
	line-height: 5rem;
	font-size: 1.8rem;
	overflow: hidden;

	&:before {
        content: '';
        position: absolute;
        width: 2rem;
        height: 10rem;
        background: $color-white;
        bottom: -2.5rem;
        left: 0;
        border: 2px solid $color-white;
		transform: translateX(-301%) rotate(45deg);        
		transition: transform .5s ease;
    }
      
	&:hover {
	background: linear-gradient(270deg, #ea5455, #f8d800, #28c76f, #0396ff);
	background-size: 800% 800%;
	animation: colorChange 30s linear infinite;
	border: none;
		&:before {
			transform: translateX(1800%) rotate(45deg);
		}
	}
}


@media screen and (max-width: 500px) {
    .btn__box {
		width: 65%;
	}
}
