@font-face {
    font-family: "Facon";
    src: url(/fonts/Facon.ttf) format("truetype");
    font-weight: normal;
    font-style: normal; 
}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba($color-black, 0.5);

    &__hamburger {
        display: flex;
        align-items: center;
        vertical-align: middle;
        &-button {
            cursor: pointer;
            position: absolute;
            top: 50%;
        }
        &-icon {
            position: relative;
            &,
            &::before,
            &::after {
                width: 3rem;
                height: 1px;
                background-color: $color-white;
                display: inline-block;
            }
            &::before {
                width: 2rem;
            }
            
            &::before {
                content: '';
                position: absolute;
                left: 0;
                transition: all .2s;
            }
            &::after {
                width: 2rem;
                right: 0;
                content: '';
                position: absolute;
                transition: all .2s;
            }
            &::before { 
                top: -1rem;
            }
            &::after { top: 1rem;}       
        }  
        &-button:hover &-icon::before {
            width: 3rem;
        }
        &-button:hover &-icon::after {
            width: 3rem;
        }
    }
    
    &__logo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 5rem;
        width: 16rem;
        padding: 1rem 0 0.4rem;
        border-radius: 1rem;
        background: linear-gradient(270deg, #ea5455, #f8d800, #28c76f, #0396ff);
        background-size: 800% 800%;
        animation: colorChange 30s linear infinite;
        transform: skewX(-15deg);

        &-text {
            font-family: 'Facon', sans-serif;
            font-size: 3.2rem;
            color: $color-white;
            text-decoration: none;
            transform: skewX(15deg);
        }
    }
    &__search {
        margin: .8rem 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        &-icon{
            color: $color-white;
            font-size: 2rem;
        }
    }
}
#sidebar {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    transition: all 0.3s;
    margin-left: -250px;
    /* top layer */
    z-index: 9999;
    &.active {
        margin-left: 0;
    }
    & .sidebar-header {
        padding: 20px;
        background: #000;
        position: relative;
    }
    // & ul.components {
    //     border-bottom: 5px solid rgba(#fff, 0.2);
    // }
    & ul p {
        color: #fff;
        padding: 10px;
    }
    & ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
        &:hover {
            background: rgba(255,255,255,0.1);
        }
    }
    & ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: rgba(255,255,255,0.1);
        text-decoration: none;
        transition: all 0.3s;
        color: inherit;
        &:hover {
            opacity: 0.5;
        }
    }
}

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 5000;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;

    &.active {
        display: block;
        opacity: 1;
        margin: -5rem 0 0;
    }
}

#dismiss {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 0.5rem 1rem;
    background: rgba(255,255,255,0.1);
    border-radius: 5px;
}

.line {
    margin: 1rem auto;
    width: 25%;
    height: 2px;
    display: block;
    background: linear-gradient(270deg, #ea5455, #f8d800, #28c76f, #0396ff);
    background-size: 800% 800%;
    animation: colorChange 30s linear infinite;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


@media screen and (max-height: 450px) {
    .nav {
        position: relative;
    }

}

@media (max-width: 450px) {
    #sidebar .sidebar-header {
        display: flex;
        justify-content: center;
    }
    .list-unstyled {
        font-size: 2rem;
    }
}