.search__container {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 0;
    
}

.search__input {
    margin-top: 5rem;
    background-color: $color-black;
    height: 100%;
    width: 100%;
    padding: 3rem;
    position: relative;


    &-form {
        background-color: $color-grey-dark-3;
        color: $color-white;
        font-size: 4rem;
        padding: 2rem;
        width: 100%;
        border: none;
        border-radius: 5px;
        &::placeholder {
            color: $color-white;
            opacity: 0.8;
        }
        &:active, &:visited,&:focus {
            outline: none;          
        }
    }
    &-button {
        position: absolute;
        top: 50%;
        right: 4rem;
        transform: translateY(-50%);
        border: none;
        border-left: 1px solid white;
        background-color: transparent;
        color: white;
        font-size: 3rem;
        padding: 1.3rem;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }
        &:active, &:visited,&:focus {
            outline: none;          
        }
    }
    
}

@media screen and (max-width: 450px) {
    .search__container {
        padding: 0;
        
    }
    .search__input {

        &-form {
            font-size: 3rem;
            padding: 1.5rem;
            height: 6rem;
        }
        
    }
}
@media screen and (max-height: 450px) {
    .search__container {
        margin-top: 0;    
    }
}