$color-primary:#1e83e2 ;
$color-primary-light:#7cbdfa ;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
  
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #242424 ;   
$color-grey-dark-4: #111111;  


$color-white: #fff;
$color-black: #000;

// font
$default-font-size: 1.6rem;

// grid variable 